prod_apps:
    # Authelia + Traefik first on top
    # critical apps
    - authelia
    - traefik
    - prometheus
    # Monitoring containers
    - cadvisor
    - node-exporter
    # Rest of apps
    - calibreweb
    - coredns
    - endlessh
    - grafana
    - homer
    - jackett
    - jellyfin
    - lidarr
    - meme
    - n8n
    - portainer
    - pyload
    - readarr
    - transmission
    - vaultwarden
    - headphones
    - syncthing