# Administrative user
admin_username: "admin"
admin_home_path: "/home/admin"

# Dedicated user for running containers
container_user: "dockeruser"
container_group: "dockeruser"
container_user_uid: 2000
container_user_gid: 2000
