# Authelia
AUTHELIA_JWT_SECRET: a_very_important_secret
AUTHELIA_DEFAULT_REDIRECTION_URL: https://auth.domain.local
AUTHELIA_SESSION_SECRET: unsecure_session_secret
AUTHELIA_SESSION_DOMAIN: domain.local
AUTHELIA_ROOT_DOMAIN: domain.local
AUTHELIA_STORAGE_ENCRYPTION_KEY: a_very_important_secret


# Traefik
TRAEFIK_API_KEYS:
  - your-api-key