---
###############################################################
#                   Authelia configuration                    #
###############################################################

# Interesting config:
# https://www.reddit.com/r/selfhosted/comments/y0bog6/traefik_authelia_cloudflare_full_dockercompose/

server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug

theme: dark
# This secret can also be set using the env variables AUTHELIA_JWT_SECRET_FILE
jwt_secret: {{ AUTHELIA_JWT_SECRET }}

default_redirection_url: {{ AUTHELIA_DEFAULT_REDIRECTION_URL }}

totp:
  issuer: authelia.com

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  # disable_reset_password: true
  password_reset:
    disable: false
  file:
    path: '/config/users_database.yml'
    # watch: false
    password:
      # Recommended Parameters: Argon2 #
      # https://www.authelia.com/reference/guides/passwords/#recommended-parameters-argon2
      algorithm: 'argon2id'
      # variant: 'argon2id'
      iterations: 3
      memory: 65536
      parallelism: 4
      key_length: 32
      salt_length: 16
      
# Example: https://docs.ibracorp.io/authelia/configuration-files/configuration.yml
access_control:
  # More: https://www.authelia.com/configuration/security/access-control/#policies
  default_policy: one_factor # default: deny
  rules:
      - domain: vault.{{ AUTHELIA_ROOT_DOMAIN }}
        # resources:
        #   - "^/api.*$"
        #   - "^/notifications.*$"
        policy: bypass
      - domain: api.{{ AUTHELIA_ROOT_DOMAIN }}
        policy: bypass
      - domain: calibre.{{ AUTHELIA_ROOT_DOMAIN }}
        # For OPDS catalog
        resources:
          - "^/opds.*$"
        policy: bypass

session:
  name: authelia_session
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  secret: {{ AUTHELIA_SESSION_SECRET }}
  expiration: 3600  # 1 hour
  # expiration: 5184000 # 60 mins * 24h * 60 days = ~2 months
  inactivity: 300  # 5 minutes
  domain: {{ AUTHELIA_SESSION_DOMAIN }} # Should match whatever your root protected domain is
  remember_me_duration: 2M

# Commented out as no Redis is used
  # redis:
  #   host: redis
  #   port: 6379
  #   # This secret can also be set using the env variables AUTHELIA_SESSION_REDIS_PASSWORD_FILE
  #   # password: authelia

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  encryption_key: {{ AUTHELIA_STORAGE_ENCRYPTION_KEY }} # Now required
  local:
    path: /config/db.sqlite3

notifier:
  # smtp:
  #   username: test
  #   # This secret can also be set using the env variables AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE
  #   password: password
  #   host: mail.example.com
  #   port: 25
  #   sender: admin@example.com
  filesystem:
    filename: /config/notification.txt
...
