{
    "server": {
      "listen_addresses": ["127.0.0.1:2022"],
      "webdav_enabled": true,
      "webdav_path": "/webdav",
      "webdav_hide_dotfiles": true,
      "admin_enabled": true,
      "admin_listen_address": "127.0.0.1:8080"
  
    },
    "http": {
      "enabled": true,
      "listen_address": "127.0.0.1:8090",
      "use_proxy_protocol": true
    },
    "accounts": [
      {
        "username": "admin",
        "password": "password",
        "home_dir": "/srv/sftpgo/data/myhdd"
      }
    ]
  }
  